.container {
  width: 55vw;
  height: auto;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.outputresult {
  width: 100%;
  height: 4rem;
  font-size: 28px;
  background: rgb(138, 136, 136);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  color: whitesmoke;
}

.keyscontainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.calckey {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80vw;
    margin-top: 3rem;
  }
}
