.container {
  width: 45vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.output-result {
  width: 100%;
  height: 4rem;
  font-size: 28px;
  background: rgb(138, 136, 136);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  color: whitesmoke;
}

.keys-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.calc-key {
  width: 100%;
}
